<div class="yield-section">
  <h1>About Us</h1>

<p>WojoCorp is a company that is dedicated to providing the highest quality images about Matt Wojtkun's life. Check out the Galelry page for a glimpse of key moments from Matt's life.</p>

</div>
