<!doctype html>
<html lang="en">
  <!-- ======= ======= ======= head ======= ======= ======= -->
	<head>
		<link href="https://fonts.googleapis.com/css?family=Audiowide|Montserrat:100" rel="stylesheet">
	    <link rel="stylesheet" type="text/css" href="/styles.css">
	</head>
  <!-- ======= ======= ======= body ======= ======= ======= -->
	<body>
	  <!-- ======= navbar ======= -->
		<div id="navbar" class="section">
			<%= erb :navbar %>
		</div>

		<div id="page-container">
		  <!-- ======= content ======= -->
			<div id="yield-container" class="section">
				<%= yield %>
			</div>
		</div>

		<div id="footer-container">
			<p>&copy; WojoCorp. 2017</p>
		</div>

    <!-- ======= scripts ======= -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script type="text/javascript" src="/script.js"></script>
	</body>
</html>
