<!-- ======= views/menu.erb ======= -->

<% menu_items = ["about", "gallery", "contact"] %>

<a href=<%= :home %>>
  <div id="company-logo">
    <p id="logo-text">WojoCorp.</p>
  </div>
</a>
<div id="menu-items">

  <% for x in menu_items %>
    <a href=<%= x %>>
      <div class="menu-item"> <%= x %> </div>
    </a>
  <% end %>
</div>

<!-- <div class="menu-item">home</div>
<div class="menu-item">profile</div>
<div class="menu-item">portfolio</div>
<div class="menu-item">resume</div>
<div class="menu-item">interests</div> -->
