<!-- firstname lastname email-->

<div id="sign-in-container">
  <form id="sign-in-form" action="/signup" method="post">
    <input class="input-area" type="text" name="firstname" value="" placeholder="User ID">
    <input class="input-area" type="text" name="lastname" value="" placeholder="Password">
    <button id="submit-button" type="submit" name="button">Sign In</button>
  </form>
</div>
