body{
  margin: 0;
}
#page-container{
  position: relative;
  top: 80px;
}
#navbar-container{
  box-sizing: border-box;
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
#company-logo{
  display: inline-block;
  float: left;
  box-sizing: border-box;
  height: 40px;
  width: auto;
  text-align: center;
  color: black;
}
#company-logo-text{
  margin: 0 20px;
  font-size: 36px;
  line-height: 40px;
  font-family: 'Audiowide', cursive;
}
#menu-items{
  float: right;
  height: 100%;
  width: auto;
}
a{
  text-decoration: none;
}
.menu-item{
  display: inline-block;
  height: 40px;
  width: 100px;
  margin: 0 10px;
  color: white;
  border-radius: 6px;
  text-align: center;
  background-color: #3333ff;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.menu-item:hover{
  background-color: #4d4dff;
}
.menu-item:active{
  background-color: #0000b3;
}
.menu-item-text{
  margin: 0;
  line-height: 40px;
}
#yield-container{
  padding: 20px;
}
#sign-in-container{
  height: auto;
  width: 400px;
  margin: 40px auto;
  justify-content: center;
}
#sign-in-form{
text-align: center;
}
.input-area{
  height: 50px;
  margin: 10px;
  width: 250px;
  font-size: 20px;
  font-weight: bold;
  border-style: none;
  border-bottom: 1px solid black;
  outline: none;
  font-family: 'Montserrat', sans-serif;
}
#submit-button{
  display: block;
  margin: 20px auto;
  height: 50px;
  width: 250px;
  border-style: none;
  outline: none;
  cursor: pointer;
  border-radius: 6px;
  text-align: center;
  font-size: 20px;
  background-color: #3333ff;
  color: white;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
#submit-button:hover{
  background-color: #4d4dff;
}
#submit-button:active{
  background-color: #0000b3;
}
#footer-container{
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  height: 60px;
  width: 100%;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
  background-color: #3333ff;
}
#footer-container > p{
  margin: 0;
  line-height: 60px;
  font-family: 'Montserrat', sans-serif;
  color: white;
}
